
/* imgType01 */

#imgtype {
    margin: 150px 0 602px 0;
}


.imgtype01 {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    text-align: left;
}


.imgtype01 h2 {
    margin-bottom: 47px;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
}


.imgtype01 .card-wrap .card .img01 {
    width: 590px;
    height: 400px;
    display: inline-block;
    position: absolute;
}

.imgtype01 .card-wrap .card .img02 {
    width: 590px;
    height: 400px;
    margin: 0 0 0 610px;
    display: inline-block;
    position: absolute;
}


.imgtype01 .card-wrap .card .tlite {
    padding: 15px 0 0 15px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}


.imgtype01 .card-wrap .card .card-p {
    padding: 0 0 0 15px;
    color: #fff;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    overflow: hidden;       /* 두줄 효과 */
    display: -webkit-box;   /* 벤터 프리픽스 */
}


.imgtype01 .card-wrap .card .card-bt {
    padding: 15px;
    font-size: 12px;
    color: #fff;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-decoration: underline;
}


.imgtype01 .card-wrap .card .txt-box01 {
    margin: 238px 0px 0px 30px;
    width: 317px;
    height: 132px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}


.imgtype01 .card-wrap .card .txt-box02 {
    margin: 238px 0px 0px 640px;
    width: 317px;
    height: 132px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}


/* imgType02 */

#imgtype {
    margin: 150px 0 602px 0;
}


.imgtype02 {
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
}
.imgtype02 h2 {
    margin-bottom: 50px;
}

.imgtype02 .h2-1 {
    font-family: 'Crimson Pro';
    font-weight: normal;
    font-size: 50px;
    float: left;    
}

.imgtype02 .h2-2 {
    font-weight: normal;
    font-size: 52px;
}

.imgtype02 .card-wrap .card .tlite {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 55px;
    color: #fff;
}

.imgtype02 .card-wrap .card .card-bt {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background: #fff;
    width: 110px;
    height: 30px;
    margin: 40px 138px 0 139px;
    padding: 6px 14px;
    background-color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
}


.imgtype02 .card-wrap .card .img03 {
    margin: 0;
    width: 387px;
    height: 387px;
    position: absolute;
}
.imgtype02 .card-wrap .card .img04 {
    margin: 0 0 0 407px;
    width: 387px;
    height: 387px;
    position: absolute;
}
.imgtype02 .card-wrap .card .img05 {
    margin: 0 0 0 814px;
    width: 387px;
    height: 387px;
    position: absolute;
}


.imgtype02 .card-wrap .card .txt-box01 {
    margin: 169px 0 0 0;
    width: 387px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.imgtype02 .card-wrap .card .txt-box02 {
    margin: 169px 0 0 407px;
    width: 387px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.imgtype02 .card-wrap .card .txt-box03 {
    margin: 169px 0 0 814px;
    width: 387px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}