body {
    background: #f3f3f3;
}

/* cardTaye */

#testType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.testType01 {
    font-family: 'S-CoreDream';
    font-weight: 400;
    padding: 60px 0;
}

.testType01 h2 {
    font-size: 52px;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 100px;
    line-height: 1.3;
}

.testType01 .testwrap {
    overflow: hidden;
}
.testType01 .testwrap .test{
    float: left;
    position: relative;
    margin-bottom: 100px;
}
.testType01 .testwrap .test .t-img {
    width: 384px;
    height: 606px;
}

.testType01 .testwrap .test:first-child {
    padding-right: 20px;
}
.testType01 .testwrap .test:nth-child(2) {
    padding-right: 20px;
}

.testType01 .testwrap .txt-box {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.testType01 .testwrap .test .txt {
    margin-bottom: 18px;
    margin-left: 14px;
    opacity: 0.3;
}
.testType01 .testwrap .test .tite {
    margin-bottom: 445px;
    margin-left: 14px;
    font-size: 24px;
}
