/* 틀 */
* {
    margin: 0;
    padding: 0;
}

body { font-family: 'GmarketSansBold'; background-image: url(../img/topbg.jpg); background-repeat: no-repeat; background-size: 100%; }

/* 레이아웃 */

.container {
    width: 1400px;
    margin: 0 auto;
}
.scroll {
    position: fixed;
    right: 120px; top: 15px;
    width: 50px; height: 50px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
    z-index: 10000;
}




/* 헤더 */
.menu {
    top: 0;
    width: 100%;
    position: fixed;
}
.menu.show {
    width: 100%;
    height: 100%;
    background: #0396A6;
    z-index: 999;
    transition: .8s;
    background-image: url(../img/ggs02.png);
    background-repeat: no-repeat;
    background-position: bottom 100px right 120px;
}
header .hem_menu {
    position: relative;
}
.hem_menu .hem {
    width: 40px; height: 40px;
    border-radius: 50%;
    border: 1px solid #0D626B;
    position: absolute;
    left: 13px; top: 13px;
    cursor: pointer;
}
.hem_menu .hem::after {
    transition: .5s;
    position: absolute;
    content: '';
    width: 20px; height: 3px;
    left: 10px; top: 15px;
    background: #0D626B;
}
.hem_menu .hem::before {
    transition: .5s;
    position: absolute;
    content: '';
    width: 20px; height: 3px;
    left: 10px; top: 22px;
    background: #0D626B;
}

.hem_menu ul {
    padding: 20px;
    margin-top: 7px;
    margin-left: 50px;
    color: #0D626B;
    font-family: 'DM Sans';
    font-size: 18px;
    
}
.hem_menu ul li {
    display: inline-block;
    cursor: pointer;
}
.hem_menu ul li:last-child {
    float: right;
}
/* 텝 메뉴 */
.menu .tep_menu {
    font-family: 'GmarketSansMedium';
    padding: 50px 100px;
    display: none;
}
.menu .tep_menu a {
    transition: .3s;
    font-size: 150px;
    color: #74F1FF;
    line-height: 200px;
}
.menu .tep_menu a:hover{
    transition: .5s;
    color: #fff;
}
.menu.show .tep_menu {
    display: block;
}
.menu.show .hem_menu .hem::after{
    transition: .5s;
    content: '';
    top: 18px;
    transform: rotate(-40deg);
}
.menu.show .hem_menu .hem::before {
    transition: .5s;
    content: '';
    top: 18px;
    transform: rotate(40deg);
}


/* 타이틀 */
.title { margin-top: 200px; margin-bottom: 20px;}
.title h2 {
    font-size: 150px;
    text-align: center;
    line-height: 157px;
    color: #0396A6;
    position: relative;
    background: linear-gradient(120deg, #0396A6 0%, #E8F8F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title h2:last-child {
    z-index: -2;
}
.title img {
    z-index: -1;
    width: 700px;
    position: absolute;
    left: 50%; top: 10%;
    transform: translateX(-50%);
}

.sb_text {
    text-align: center;
    text-transform: uppercase;
}

.sb_text p {
    font-family: 'DM Sans';
    font-size: 16px;
    color: #0D626B;
    margin-bottom: 50px;
}

/* 스크롤 버튼 */
.sb_button {
    font-family: 'DM Sans';
    margin: 0 auto;
    text-align: center;
    width: 110px; height: 110px;
    border-radius: 50%;
    border: 1px solid #0396A6;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
}
.sb_button:hover {
    width: 130px; height: 130px;
    border-radius: 50%;
    border: 1px solid #0396A6;
}

.sb_button .sb_cont {
    position: absolute;
    font-size: 18px;
    color: #0396A6;
    left: 50%; top: 70%;
    transform: translate(-50%, -70%);
}

.sb_button .sb_cont img {
    width: 20px;
}

/* 어바웃 */
.about {
    margin: 800px auto;
    height: 200vh;
    text-align: center;
    position: relative;
}

/* 안경 애니메이션 */
.about .glasses_bg {
    width: 450px; height: 450px;
    position: absolute;
    left: 50%; top: 0;
    transform: translate(-50%, 0);
    z-index: -1000;
    background-image: url(../img/gss.png);
}

.about .glasses_bg.recoil {
    animation: recoil 2s steps(7, start) infinite;
}
.about .glasses_bg.top.recoil {
    animation: backrecoil 2s steps(7, start) infinite;
}

@keyframes recoil {
    0% {background-position: 0 0;}
    100% {background-position: 0 3150px;}
}
@keyframes backrecoil {
    0% {background-position: -450px 0;}
    100% {background-position: -450px -3150px;}
}
