@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'NEXON Lv1 Gothic OTF';
    line-height: 1.6;
    word-break: break-all;
}

body {
    padding: 5%;
    margin-bottom: 400px;
}

h1 {
    font-family: 'TmonMonsori';
    padding: 20px 0;
}

h1 a {
    font-family: 'TmonMonsori';
}

hr {
    margin: 5% 0;
    border-style: dashed;
    border-color: #E6E6E6;
    border-width: 0px;
    border-bottom-width: 1px;
}

/* img {
    vertical-align: top;
    border-radius: 5px;
    margin: 5px;
} */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.sample {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.sample h2 {
    position: relative;
    font-size: 16px;
    background-color: #F2F2F2;
    padding: 15px;
    border-bottom: 1px solid #E6E6E6;
    border-radius: 5px 5px 0 0;
}

.sample h2 .dot {
    width: 10px;
    height: 10px;
    background: #989898;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 20px;
}

.sample h2 .dot::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #989898;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 0;
}

.sample h2 .dot::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #989898;
    position: absolute;
    border-radius: 50%;
    right: -15px;
    top: 0;
}

.sample .ex {
    padding: 20px;
}

.sample .ex .text {
    margin: 10px 0;
}

.sample .re {
    padding: 20px;
    border-top: 1px solid #E6E6E6;
}

.sample .re a {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 5px;
    display: inline-block;
}

.sample .re a:hover {
    background-color: #000;
    color: #fff;
}

.sample .problem {
    padding: 25px;
    border-bottom: 1px solid #E6E6E6;
    line-height: 1.6;
}

.sample pre {
    margin: 0 !important;
    border-radius: 0;
    ;
}

.sample .desc {
    padding: 25px;
    border-bottom: 1px solid #E6E6E6;
}

.sample .desc dt {
    padding: 3px 0;
    margin-bottom: 6px;
}

.sample .desc dd {
    padding: 3px 0 16px 0;
    line-height: 1.6;
}

.sample .sam {
    padding: 25px;
    border-bottom: 1px solid #E6E6E6;
}

.sample .sam dt {
    padding: 3px 0;
    margin-bottom: 6px;
}

.sample .sam dd {
    padding: 3px 0 16px 0;
}


.mt20 {
    margin-top: 20px;
}

.page {
    text-align: right;
    right: 20px;
    top: 15px;
}

.page li {
    display: inline;
    list-style: none;
}

.page li a a {
    color: #222;
    text-decoration: 
}

.page li a:hover {
    color: #4fc3f7;
}
.menu li {
    display: inline;
}
.menu li a {
    font-family: 'NEXON Lv1 Gothic OTF';
    color: #000;
    border: 1px dashed #000;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;
    margin: 4px 1px;
    box-shadow: inset 0 0 0 #000;
    transition: all 0.4s;
}
.menu li a:hover {
    box-shadow: inset 0 -100px 0 #000;
    color: #fff;
    border-style: solid;
}
@media (max-width: 800px){
.menu li a {
    font-size: 12px;
    padding: 5px 20px;
}
.list li {
    line-height: 1.3;
}
.list a {
    font-size: 12px;
}
.sample h2 {
    padding: 12px 10px 10px 10px;
    font-size: 14px;
}
.sample h2 .dot {
    display: none;
}
.sample pre {
    font-size: 14px;
}
}

.sample {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.sample h2 {
    position: relative;
    font-size: 16px;
    background-color: #F2F2F2;
    padding: 15px;
    border-bottom: 1px solid #E6E6E6;
    border-radius: 5px 5px 0 0;
}

.sample .ex {
    padding: 20px;
}

.sample .ex .text {
    margin: 10px 0;
}

.sample .re {
    padding: 20px;
    border-top: 1px solid #E6E6E6;
}

.sample .re a {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 5px;
    display: inline-block;
}

.sample .re a:hover {
    background-color: #000;
    color: #fff;
}

.sample .problem {
    padding: 25px;
    border-bottom: 1px solid #E6E6E6;
    line-height: 1.6;
}

.sample pre {
    margin: 0 !important;
    border-radius: 0;
    ;
}

.sample .desc {
    padding: 25px;
    border-bottom: 1px solid #E6E6E6;
}

.sample .desc dt {
    padding: 3px 0;
    margin-bottom: 6px;
}

.sample .desc dd {
    padding: 3px 0 16px 0;
    line-height: 1.6;
}

.sample .sam {
    padding: 25px;
    border-bottom: 1px solid #E6E6E6;
}

.sample .sam dt {
    padding: 3px 0;
    margin-bottom: 6px;
}

.sample .sam dd {
    padding: 3px 0 16px 0;
}

ol {
    padding-left: 26px;
}

.mt20 {
    margin-top: 20px;
}

.page {
    text-align: right;
    right: 20px;
    top: 15px;
}

.page li {
    display: inline;
    list-style: none;
}

.page li a a {
    color: #222;
    text-decoration: 
}

.page li a:hover {
    color: #4fc3f7;
}
.menu li {
    display: inline;
}
.menu li a {
    font-family: 'NEXON Lv1 Gothic OTF';
    color: #000;
    border: 1px dashed #000;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;
    margin: 4px 1px;
    box-shadow: inset 0 0 0 #000;
    transition: all 0.4s;
}
.menu li a:hover {
    box-shadow: inset 0 -100px 0 #000;
    color: #fff;
    border-style: solid;
}
.view {
    padding: 20px;
    overflow: ;
}

.view table {
    width: 100%;
    border: 1px solid #e6e6e6;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

.view table th {
    /* padding-top: 13px;
    padding-right: 5px;
    padding-bottom: 11px;
    padding-left: 5px; 
    padding: 13px 5px 11px 5px;     위/오른쪽/아래/왼쪽
    padding: 13px 5px 11px;         위12px/왼쪽오른쪽5/아래11px
    padding: 13px 5px;              위아래13px/왼쪽오른쪽5px
    padding: 13px;                  위/오른쪽/아래/왼쪽13px 
    */
    padding: 13px 5px 11px 5px;
}

.view table td {
    border: 1px solid #e6e6e6;
    padding: 13px 5px 11px 5px;
}

.view table td.result {
    color: #fff;
    transition: all 0.3s;
    cursor: zoom-in;
}

.view table td.result:hover {
    color: #000;
    background-color: #f5f5f5;
}
.sam {
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    padding: 0 20px;
}

/* 000 */
.view {
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    overflow: auto;
}
.view table {
    border-left: 0px;
    border-right: 0px;
}
.view table th,
.view table td {
    white-space: nowrap;
    font-size: 13px;
}
.view table td.result {
    color: #bdbdbd;
    background: #f1f1f1;
}
.btn {
    padding: 20px;
    border: 1px solid #f2f2f2;
    border-top: 0;
}
.btn a {
    border: 1px solid #e6e6e6;
    padding: 7px 25px;
    display: inline-block;
    border-radius: 40px;
    margin: 4px 0;
    color: #222;
    transition: all 0.2s;
}
.btn a:hover {
    background: #000;
    color: #fff;
}



@media (max-width: 800px){
body {
    font-size: 13px;
}
h1 {
    text-align: center;
}
.sample h2 {
    font-size: 14px;
    font-weight: none;
    padding: 7px 5px 5px;
}
.sample h2 .dot {
    display: : none;
}
.view {
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    overflow: auto;
}
.view table {
    border-left: 0px;
    border-right: 0px;
}
.view table th,
.view table td {
    white-space: nowrap;
    font-size: 13px;
}
.view table td.result {
    color: #BDBDBD;
    background: #F1F1F1;
}


