@font-face {
  font-family: 'NEXONLv1';
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2';
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

.bg {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.bg1 {
  background-image: url(../img/bg01@x2.jpg);
}

.bg1 {
  background-image: url(../img/bg01.jpg);
}

.bg2 {
  background-image: url(../img/bg02.jpg);
}

.bg3 {
  background-image: url(../img/bg03.jpg);
}

.bg4 {
  background-image: url(../img/bg04.jpg);
}

.bg5 {
  background-image: url(../img/bg05.jpg);
}

.bg6 {
  background-image: url(../img/bg06.jpg);
}

.bg7 {
  background-image: url(../img/bg07.jpg);
}

.bg8 {
  background-image: url(../img/bg08.jpg);
}

.bg9 {
  background-image: url(../img/bg09.jpg);
}

.bg10 {
  background-image: url(../img/bg010.jpg);
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  background: -webkit-gradient(linear, left top, left bottom, from(#11e8bb), to(#8200c9));
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}

#main.game {
  background: -webkit-gradient(linear, left top, left bottom, from(#2af598), to(#009efd));
  background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

#main.menu {
  background: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}

#main.mouse {
  background: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
}

#main.parallex {
  background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 100%);
}

#main.slider {
  background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 8vw;
  word-spacing: normal;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #001735), to(#8200c9));
  background-image: linear-gradient(to bottom, #001735 50%, #8200c9);
}

nav {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 10px;
  top: auto;
}

nav li {
  list-style: none;
  display: inline;
}

nav li a {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXONLv1";
  -webkit-box-shadow: inset 0 0 0 #fff;
          box-shadow: inset 0 0 0 #fff;
}

nav li a:hover {
  -webkit-box-shadow: inset 0 -100px 0 #fff;
          box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}

.info {
  color: #fff;
  font-family: "NEXONLv1";
  padding: 20px;
}

.info.right {
  position: absolute;
  right: 0px;
  top: 0px;
}

.info.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.info h1 {
  font-weight: 700;
  font-size: 30px;
  display: inline-block;
}

.info p {
  font-weight: 100;
  font-style: 16px;
  margin-top: 20px;
}

.info li {
  list-style: none;
  display: inline;
}

.info li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin: 3px 0;
}

.info li.active a {
  background: #fff;
  color: #000;
}

.info button {
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 #fff inset;
          box-shadow: 0 0 0 #fff inset;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.info button:hover {
  -webkit-box-shadow: 0 -50px 0 #fff inset;
          box-shadow: 0 -50px 0 #fff inset;
  color: #000;
}

@media (max-width: 800px) {
  #contents h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20vw;
    line-height: 20vw;
    text-align: center;
    word-spacing: normal;
    font-family: "Six Caps", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #001735), to(#8200c9));
    background-image: linear-gradient(to bottom, #001735 50%, #8200c9);
  }
  nav {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    bottom: 5px;
    top: auto;
  }
  nav li {
    list-style: none;
    display: inline;
  }
  nav li a {
    color: #fff;
    text-decoration: none;
    width: 53px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #fff;
    background: #fff;
    color: #6c4a70;
    display: inline-block;
    border-radius: 10px;
    font-size: 12px;
    margin: 3px;
    font-family: "NEXONLv1";
    -webkit-box-shadow: inset 0 0 0 #fff;
            box-shadow: inset 0 0 0 #fff;
  }
}
