
    // --font-sub : 'Rajdhani';
    // --font-kor1 : 'Chosunilbo_myungjo';
    // --font-kor2 : 'SCoreDream';
    // --font-main : 'saol';
    // --font-logo : 'Playfair Display';

    $font-main: 'saol';
    $font-logo: 'Playfair Display';
    $font-sub: 'Rajdhani';
    $font-kor1: 'Chosunilbo_myungjo';
    $font-kor2: 'SCoreDream';
